

ul{
  list-style-type: none;
  margin: 6px;
  padding: 10px;
  overflow: hidden;
  color: black;

}

li {
  float:left;
}

li a {
  display: block;
  color: red;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

.name {
  position: relative;
  padding-left: 700px;
  padding-top: 100px;
}

.name p{
  padding: left: 40px;
}
.border{
border-spacing: 3px;
}
#wrap ul{
  list-style-type: none;
  margin: 6px;
  padding: 10px;
  /*overflow: hidden;*/
  color: black;
  position: relative;
}
