ul.menu>li{
  background-color: #c7c7c7;

border-right: 1px solid white;
}
ul.menu>li:hover{
  color: #fff;
  background-color: #e8a8cc;
}
ul{
  list-style-type: none;
  margin: 6px;
  padding: 10px;
  overflow:hidden;
  color: black;

}

li {
  float:left;
}
ul.menu>li>a{
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
  color: #000;
  line-height: 1;
}

body {
background-image: url(../images/clock2.gif);
background-repeat: no-repeat;
b
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
}
