p {
  font-family: serif;
  color: white;

	}

body {
    /*background colour: orange;*/
    font-family: sans-serif;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;

}

li {
  float:left;
}

li a {
  display: block;
  color: red;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
}

.name {
  position: relative;
  padding-left: 700px;
  padding-top: 100px;
}

.name p{
  margin-left: 40px;
}
